@import "tailwindcss";

@font-face {
  font-family: "Handicrafts";
  src: url("/fonts/arabic/handicrafts/TheYearofHandicrafts-Regular.otf")
    format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Handicrafts";
  src: url("/fonts/arabic/handicrafts/TheYearofHandicrafts-Medium.otf")
    format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Handicrafts";
  src: url("/fonts/arabic/handicrafts/TheYearofHandicrafts-SemiBold.otf")
    format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Handicrafts";
  src: url("/fonts/arabic/handicrafts/TheYearofHandicrafts-Bold.otf")
    format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Handicrafts";
  src: url("/fonts/arabic/handicrafts/TheYearofHandicrafts-Black.otf")
    format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: "Qahwa";
  src: url("/fonts/arabic/qahwa/alfont_com_Qahwa-Arabic-Bold.otf") format("opentype");
}

.font-qahwa {
  font-family: "Qahwa", sans-serif !important;
}

body {
  font-family: "Handicrafts", sans-serif;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}
